/out/
/resources/public/js/compiled/
/resources/public/js/workspaces/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/


# shadow-cljs cache, port files
/.shadow-cljs/

# IntelliJ
/.idea
/*.iml
/.cpcache/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

# Dev DB store
/.xtdb/
