{:paths ["src" "test" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        medley/medley {:mvn/version "1.4.0"}
        ;; Dev
        org.clojure/tools.namespace {:mvn/version "1.3.0"}
        ;; HTTP Server
        http-kit/http-kit {:mvn/version "2.5.0"}
        ;;; Database
        com.xtdb/xtdb-core {:mvn/version "1.22.0"}
        com.xtdb/xtdb-rocksdb {:mvn/version "1.22.0"}
        com.xtdb/xtdb-jdbc {:mvn/version "1.22.0"}
        org.postgresql/postgresql {:mvn/version "42.5.0"}
        ;;; Routing
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        metosin/reitit-ring {:mvn/version "0.5.18"}
        metosin/reitit-middleware {:mvn/version "0.5.18"}
        metosin/reitit-spec {:mvn/version "0.5.18"}
        metosin/reitit-frontend {:mvn/version "0.5.18"}
        metosin/reitit-malli {:mvn/version "0.5.18"}
        metosin/muuntaja {:mvn/version "0.6.7"}
        ; needed by ring-middleware-multipart:
        javax.servlet/servlet-api {:mvn/version "2.5"}
        ;;; Logging
        com.taoensso/timbre {:mvn/version "5.2.1"}
        org.apache.logging.log4j/log4j-core {:mvn/version "2.19.0"}
        org.apache.logging.log4j/log4j-api {:mvn/version "2.19.0"}
        org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.19.0"}
        ;;; Config managment
        yogthos/config {:mvn/version "1.1.7"}
        mount/mount {:mvn/version "0.1.16"}
        aero/aero {:mvn/version "1.1.6"}
        ;;; Authentication
        ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}
        ;; Documents
        org.jodconverter/jodconverter-local {:mvn/version "4.4.4"}
        io.github.erdos/stencil-core {:mvn/version "0.4.7"}
        ;; Data
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        ;; AWS API
        com.amazonaws/aws-java-sdk-core {:mvn/version "1.12.344"}
        com.amazonaws/aws-java-sdk-s3 {:mvn/version "1.12.344"}
        com.amazonaws/aws-java-sdk-appconfig {:mvn/version "1.12.344"}
        ;; SFTP
        clj-commons/clj-ssh {:mvn/version "0.5.15"}
        org.apache.sshd/sshd-sftp {:mvn/version "2.9.2"}
        org.apache.sshd/sshd-scp {:mvn/version "2.9.2"}

        ;; Frontend
        ;; _________________________________________________
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        ;;; Dev
        thheller/shadow-cljs {:mvn/version "2.20.2"}
        binaryage/devtools {:mvn/version "1.0.6"}
        re-frisk/re-frisk {:mvn/version "1.6.0"}
        nubank/workspaces {:mvn/version "1.1.2"}
        ;; Ajax
        ;cljs-ajax/cljs-ajax {:mvn/version "0.8.1"}
        ;;; Frontend Navigation
        ;pez/clerk {:mvn/version "1.0.0"}
        ;venantius/accountant {:mvn/version "0.2.5"}
        ;;; Styling
        ;garden/garden {:mvn/version "1.3.10"} ; issue: warning in cljs 1.11
        com.github.juxt-forks/garden {:git/sha "05590ecb5f6fa670856f3d1ab400aa4961047480"}
        net.dhleong/spade {:mvn/version "1.1.0"}
        breaking-point/breaking-point {:mvn/version "0.1.2"}
        arttuka/reagent-material-ui {:mvn/version "5.10.1-0"}
        applied-science/js-interop {:mvn/version "0.3.3"}

        ;;; Routing
        bidi/bidi {:mvn/version "2.1.6"}
        clj-commons/pushy {:mvn/version "0.3.10"}
        kee-frame/kee-frame {:mvn/version "1.3.2"}
        ;;; React and hiccup
        reagent/reagent {:mvn/version "1.1.1"}
        re-frame/re-frame {:mvn/version "1.3.0"}
        day8.re-frame/http-fx {:mvn/version "0.2.4"}
        fork/fork {:mvn/version "2.4.3"}
        reagent-utils/reagent-utils {:mvn/version "0.3.5"}
        ;hiccup/hiccup {:mvn/version "2.0.0-alpha2"}}
        ;;; Data
        vlad/vlad {:mvn/version "3.3.2"}
        nberger/libphonenumber-cljs {:mvn/version "7.1.0"}
        lambdaisland/deep-diff2 {:mvn/version "2.4.138"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/data.csv {:mvn/version "1.0.1"}
                     ;spyscope/spyscope {:mvn/version "0.1.6"} ; no cljs support
                     com.github.den1k/spyscope {:git/sha "83f9a19939378f83e6fbc108b02288c4eb7d5552"}}
        :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"]}

  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.0.0"}}}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}}
          :ns-default build}

  :runner {:extra-deps {com.cognitect/test-runner
                        {:git/url "https://github.com/cognitect-labs/test-runner"
                         :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
           :main-opts ["-m" "cognitect.test-runner"
                       "-d" "test"]}}}
