{:deps {:aliases [:dev]}

 :nrepl {:port 8777}

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 ;; NOTE: Needed because compiling highlight.js runs out of stack space in :cards
 :jvm-opts ["-Xss2m"
            ; Log4J2 is adopted as JBoss logging provider, which alters
            ; shadow-cljs output. This sets back the default:
            "-Dorg.jboss.logging.provider=jdk"]

 :builds
 {:app {:target :browser
        :output-dir "resources/public/js/compiled"
        :asset-path "/js/compiled"
        :modules {:app {:init-fn darbylaw.web.core/init}}
        :devtools {:preloads [re-frisk.preload
                              spyscope.core]}
        :dev {:compiler-options {:closure-defines {}}}}
  :cards {:target nubank.workspaces.shadow-cljs.target
          :ns-regexp  "-(test|cards)$"
          :output-dir "resources/public/js/workspaces"
          :asset-path "/js/workspaces"
          :preloads []
          :js-options {:resolve {"goog.debug.Logger.Level"
                                 {:target :global
                                  :global "goog.log.Logger.Level"}}}
          :compiler-options {:output-feature-set :es7
                             ;; this line is essential for workspaces compatibility
                             ;; if using shadow-cljs >=2.15.13
                             :global-goog-object&array true}}}}
