{:web-server
 {:port #long #profile {:default #or [#env PORT 8080]
                        :test 38080}
  :auth #profile {:default #edn #env AUTH_MAP
                  :dev-auth {"admin" "admin"}
                  :dev :none
                  :test :none}}
 :database
 #profile {:default {:node-type :rocksdb}
           #{:production :staging}
           {:node-type :postgres
            :db-spec {:host #env DATABASE_HOST
                      :port #env DATABASE_PORT
                      :dbname #env DATABASE_DBNAME
                      :user #env DATABASE_USER
                      :password #env DATABASE_PASSWORD}}
           :test {:node-type :in-memory
                  :test :none}}

 :doc-store
 {:s3-bucket #profile {:default "darbylaw-docs-test"
                       #{:staging :production} #env DOC_STORE_BUCKET}}

 :post-service
 {:ssh #profile {:default #edn #env POST_SERVICE_MAP
                 :dev {:host "localhost"
                       :port 2222
                       :username "none"
                       :password "none"}}
  :local-sftp-server {:enabled? #profile {:default false
                                          :dev true}
                      :port 2222}}}
