{:web-server
 {:port #long #profile {:default #or [#env PORT 8080]
                        :test 38080}
  :auth #profile {:default #edn #env AUTH_MAP
                  :dev-auth {"admin" "admin"}
                  :dev :none
                  :test :none}}
 :database
 #profile {:default {:node-type :rocksdb}
           :production
           {:node-type :postgres
            :db-spec {:host #env DATABASE_HOST
                      :port #env DATABASE_PORT
                      :dbname #env DATABASE_DBNAME
                      :user #env DATABASE_USER
                      :password #env DATABASE_PASSWORD}}
           :test {:node-type :in-memory
                  :test :none}}

 :doc-store
 {:s3-bucket #profile {:default "darbylaw-docs-test"
                       #{:staging :production} #env DOC_STORE_BUCKET}}

 :mailing-service
 {:upload-time "10:30"
  :max-batch-size 100
  :ssh #profile {:default #edn #env POST_SERVICE_MAP
                 :test {:fake {:host "localhost"
                               :port 2222
                               :username "none"
                               :password "none"}}
                 :dev {:fake {:host "localhost"
                              :port 2222
                              :username "none"
                              :password "none"}
                       :real {:host "localhost"
                              :port 2222
                              :username "none"
                              :password "none"}}}
  :local-sftp-server {:enabled? #profile {:default false
                                          :test true
                                          :dev true}
                      :port 2222}}
 :smart-search #profile {#{:production :staging} #edn #env SMART_SEARCH_CONFIG
                         :default {:company-name "Darby & Darby"
                                   :public-key "2dd0e593557d73fe4753aed4caa7a0b8"
                                   :service-user "osm@juxt.pro"
                                   :base-url {:api "https://sandbox-api.smartsearchsecure.com"
                                              :dashboard "https://sandbox.smartsearchsecure.com"}}}}
